Postgres cluster goto-app-db created
  Username:    postgres
  Password:    1d0HNpgUGeUI2VZ
  Hostname:    goto-app-db.internal
  Proxy port:  5432
  Postgres port:  5433
  Connection string: postgres://postgres:1d0HNpgUGeUI2VZ@goto-app-db.internal:5432



  // Do not expose your Neon credentials to the browser
// .env
PGHOST='ep-yellow-dream-437843.us-east-2.aws.neon.tech'
PGDATABASE='neondb'
PGUSER='comofazer.net.br'
PGPASSWORD='quEjT1AK6LzR'

// pages/api/hello_worlds.js
import postgres from "postgres";

const conn = postgres();

function selectAll() {
  return conn.query("SELECT * FROM hello_world");
}
